@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

:root {
  --primary: #67e8f9;
  --overlay-color: rgba(rgba(24, 39, 51, 0.85));
  --menu-speed: 0.75s;
}
html {
  background-color: #000;
}
button {
  padding: 8px 16px;
  background-color: var(--primary);
  outline: none;
  border: none;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  padding: 2rem 0;
  width: 100%;
  /* overflow: hidden; */
}
.container.width-70 {
  width: 80%;
  margin: auto;
  /* border: 2px solid red; */
}
.top.active {
  opacity: 1;
}
.top.disabled {
  cursor: default;
}
.top {
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 4rem;
  width: fit-content;
  transition: 200ms ease;
}
.btn {
  cursor: pointer;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 64.05rem) {
  #desktop {
    background-color: orange;
  }
}
/* - Laptop 1024px 64rem */
@media (min-width: 48.05rem) and (max-width: 64rem) {
  #laptop {
    background-color: pink;
  }
}
/* - phone:480px 30rem */
@media (max-width: 48rem) {
  .container.width-70 {
    width: 100%;
  }
  .container {
    padding: 2rem 0;
    width: 100%;
  }
  .top {
    left: 0;
    margin: auto;
  }
}
